type longshot_service, system_api_service, system_server_service, service_manager_type;
type adbroot_service,                   service_manager_type;
type mk_audio_service, system_api_service, system_server_service, service_manager_type;
type mk_hardware_service, system_api_service, system_server_service, service_manager_type;
type mk_livedisplay_service, system_api_service, system_server_service, service_manager_type;
type mk_performance_service, system_api_service, system_server_service, service_manager_type;
type mk_profile_service, system_api_service, system_server_service, service_manager_type;
type mk_trust_service, system_api_service, system_server_service, service_manager_type;
type mk_weather_service, system_api_service, system_server_service, service_manager_type;
