# HwBinder IPC from client to server
binder_call(hal_mokee_livedisplay_client, hal_mokee_livedisplay_server)

add_hwservice(hal_mokee_livedisplay_server, hal_mokee_livedisplay_hwservice)
allow hal_mokee_livedisplay_client hal_mokee_livedisplay_hwservice:hwservice_manager find;

# Grant access over LiveDisplay tuneables
allow hal_mokee_livedisplay sysfs_livedisplay_tuneable:file rw_file_perms;
